*{
    box-sizing: border-box;
    --background: #00243d;
    --accent: #66999b;
}

body{
    background-color: var(--background);
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* header section */

header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: var(--background);
}

h1{
    background-color: var(--accent);
    padding-left: 20px;
    color: var(--background);
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li{
    padding: 10px;
}

a{
    color: var(--accent);
} 

/* content section */

.web-dev{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Me.jpg");
    height: 50%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 100px;
}

h2{
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--accent);
}

article{
    display: flex;
    padding: 5px;
    color: var(--accent);
}

h3{
    border: hidden;
    padding-right: 5%;
    margin: 0% 5% 0% 5%;
    border-right: solid var(--accent);
    width: 75px;
    color: var(--accent);
}

.about-me{
    display: flex;
    flex-wrap: wrap;
}
.work{
    display: flex;
    flex-wrap: wrap;
}


.projects{
    border: solid var(--accent);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    opacity: 70%;
    margin-bottom: 1vw;
    margin-right: 1vw;
}

img{
    padding: 0px;
    max-width: 66.66vw;
}

.projects img{
    max-width: 33vw;
}

.primary img{
max-width: 70vw;
}

.projects:hover{
    opacity: 100%;
    cursor: pointer;
}

.project-title{
    position: absolute;
    bottom: 5%;
    border: hidden;
    background-color: var(--accent);
}

h4{
    margin: 0;
    font-size: larger;
    color: var(--background);
}

.img-text{
    margin: 0;
    color: var(--background);
}