*{
    box-sizing: border-box;
}

body{
    background-color: steelblue;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* header section */

header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: seagreen;
}

h1{
    background-color: steelblue;
    margin: 5% 0% 5% 0%;
    padding-left: 5%;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

li{
    margin: 5% 5% 5% 5%;
}

/* content section */

h2{
    display: flex;
    justify-content: flex-end;
    background-color: teal;
    margin-top: 0%;
}

article{
    display: flex;
    padding: 5px;
}

h3{
    border: hidden;
    padding-right: 5%;
    margin: 0% 5% 0% 5%;
    border-right: solid #130a49;
    width: 20vw;
}

.work{
    display: flex;
    flex-wrap: wrap;
}

.projects{
    border: solid seagreen ;
    flex-wrap: wrap;
    width: 70vw;
}

img{
    padding: 5px;
    width: 100%;
}

/* going for a mobile first layout, stlyes for tablets */

@media screen and (min-width: 768px){
    ul{
        flex-direction: row;
    }

    article{
        flex-wrap: nowrap;
    }
    
    .projects{
        width: 35vw;
    }
}

/* styles for larger screens */